.light-mode {
    color: hotpink;
}

.dark-mode {
    background-color: black;
    color: white;
}

.collage-container {
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    img {
        width: 100%;
    }
}